@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url(//db.onlinewebfonts.com/c/c545a36000d0fe5eb6dd44b3cabda9cf?family=Posterama);

@font-face {
  font-family: "Posterama";
  src: url("//db.onlinewebfonts.com/t/c545a36000d0fe5eb6dd44b3cabda9cf.eot");
  src: url("//db.onlinewebfonts.com/t/c545a36000d0fe5eb6dd44b3cabda9cf.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/c545a36000d0fe5eb6dd44b3cabda9cf.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/c545a36000d0fe5eb6dd44b3cabda9cf.woff") format("woff"), url("//db.onlinewebfonts.com/t/c545a36000d0fe5eb6dd44b3cabda9cf.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/c545a36000d0fe5eb6dd44b3cabda9cf.svg#Posterama") format("svg");
}

/* WIP */
div.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: auto;
  padding: 5px 15px;
  border: 3px solid var(--primary);
  z-index: 100000000;
}

:root {
  --primary: #014040;
  --secondary: #f2ece9;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 48;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary);
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  font-kerning: normal;
}

/* Header Layout */
header {
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.564) 60%, rgba(255, 255, 255, 0) 100%);
  position: fixed;
  left: 0;
  width: 100%;
  height: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 1s;
  padding: 40px 40px;
  z-index: 1;
  transition: 0.3s ease;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 1s;
  text-decoration: none;
  color: black;
}

/* Header Logo Section */
.logo-wrapper {
  height: 100%;
  width: auto;
  display: flex;
  transition: 0.3s ease;
  align-items: center;
  justify-content: center;
}

header .logo {
  position: relative;
  font-weight: bold;
  color: black;
  font-size: 2.2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
  text-decoration: none;
}

#brand-name {
  color: var(--primary);
  font-size: 1.2rem;
  left: 55px;
  font-family: "Posterama", sans-serif;
  width: auto;
}

.logo-wrapper p {
  padding-left: 20px;
  position: absolute;
  top: 50%;
  width: 500px;
  transform: translate(0, -50%);
}

.mainlogo {
  display: flex;
  margin: 0;
  height: 2em;
  float: left;
}

/* Header Menu Section */
.nav-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Header Account Section */
.account-wrapper {
  position: relative;
}

.account-wrapper button {
  transition: 0.4s;
  padding: 5px 15px;
  height: 30px;
  width: 90px;
  border-radius: 5px;
}

.logbtn {
  background-color: white;
  color: var(--primary);
  border: 1px solid var(--primary);
}

/* .regbtn {
  background-color: var(--primary);
  color: var(--secondary);
  border: none;
} */

button:hover {
  color: white;
  box-shadow: 0 0 20px var(--primary);
  background-color: var(--primary);
}

/* Sections */
section:not(#section1) {
  padding: 20px 40px;
  background-color: var(--secondary);
  position: relative;
  display: block;
}

#section2,
#section3 {
  margin: 50px 80px 20px 80px;
}

/* Content Slides */
.slide {
  width: 100% !important;
  height: 100vh;
  user-select: none;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(slide2.png);
}



/* Javascript Scroll Function CSS */
.aboveHeader {
  background-color: white;
  border-bottom: 10px solid var(--primary);
  box-shadow: 0px 4px 10px -2px var(--primary);
}

.aboveLogo {
  transform: scale(1.2);
}

.aboveName {
  font-size: 1.2rem;
  width: 500px;
}




